label {
  color: #074da1;
}
.form {
  background-color: #f3f3f3;
}
.form_container {
  width: 90%;
  margin: 0 auto;
}
.form_container h2 {
  text-align: center;
  padding: 20px 0;
}
.form_page {
  margin-top: 1rem; /* equivalent to mt-4 in Bootstrap */
  background-color: #ffffff; /* equivalent to bg-white in Bootstrap */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* shadow effect */
  padding: 0.75rem; /* equivalent to p-3 in Bootstrap */
  border-bottom: 1.25rem; /* equivalent to mb-5 in Bootstrap */
  background-color: #f8f9fa; /* equivalent to bg-body-tertiary in Bootstrap */
  border-radius: 0.25rem;
}

.red {
  color: red;
}
.bloc {
  display: flex;
  width: 95%;
  margin: 20px auto 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  margin: 10px 10px;
  width: 30%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.card label {
  font-weight: 600;
  font-size: 14px;
}
.card--grey {
  background-color: #f3f3f3;
  font-size: 14px;
  border: 1px solid rgb(0, 0, 0, 0.6);
  width: 100%;
}
.card textarea {
  resize: none;
  width: 100%;
  height: 12vh;
  font-size: 16px;
}
.card input {
  width: 93.5%;
  padding: 5px 10px;
  font-size: 14px;
}
.card_select {
  font-size: 14px;
  background-color: #fff;
  width: 100%;
  padding: 5px 10px;
  color: rgb(0, 0, 0, 0.5);
}
.card--selected {
  color: #000;
}

.card_select--grey {
  background-color: #f3f3f3;
  color: #000;
}
.type,
.type--child {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.type {
  width: 30%;
}
.type input,
.type--child input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.persontype {
  display: flex;
  width: 95%;
  margin: 0 auto;
}
.phone_number {
  display: flex;
  width: 100%;
}
.phone_number select {
  width: 30%;
}
.marital {
  height: 100%;
  display: flex;
  align-items: center;
}
.marital_status {
  width: 30%;
  display: flex;
}
.marital_status input {
  width: 16%;
  margin-right: 10px;
}
.marital_status label {
  font-size: 18px;
}
.agents,
.child {
  margin: 20px 0;
  border-radius: 10px;
  background-color: #e0e0e0;
  padding: 20px;
}
.agentType {
  display: flex;
}
.agentType_content {
  display: flex;
  margin: 0 20px 0 0;
  align-items: center;
}
.agentType_content input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.agent_iconbar {
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  border: 2px solid rgb(0, 0, 0, 0.4);
}
.agent_iconbar img {
  width: 100%;
}

.agent_iconbar p {
  padding: 0 10px;
}
.agent_iconbar--selected {
  border: 2px solid yellow;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
}
.personal_agent {
  display: flex;
}

.personal_field {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.personal_field label {
  padding: 15px 0 8px;
  font-weight: bold;
}
.personal_field input {
  border: 2px solid rgb(0, 0, 0, 0.4);
  padding: 5px 10px;
  width: 80%;
  background-color: #fff;
}
.agent_btn {
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  color: #074da1;
  padding-top: 20px;
  align-self: flex-end;
  margin-bottom: 10px;
}
.form_btn {
  transition: 1s all ease;
  background-color: #074da1;
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
}
.form_btn:hover {
  background-color: #fff;
  color: #074da1;
  border: 1px solid #074da1;
}
.agent_img {
  width: 25px;
  height: 25px;
}
.options {
  position: absolute;
  top: 80px;
  height: auto;
  overflow-y: scroll;
  background-color: #fff;
  z-index: 100;
  border: 1px solid black;
  width: 85%;
}
.options_option {
  border-bottom: 1px solid black;
  padding: 5px 10px;
  font-size: 20px;
}
.options_option:hover {
  background-color: #eee;
}
.options_option:last-child {
  border-bottom: 0;
}
.options__border {
  border: 0;
}
.options::-webkit-scrollbar {
  display: none;
}

.options {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.countrywidth {
  width: 100%;
}
.combo {
  width: 60%;
}
